<!--

    Releases editor starts here

-->

<div
    id="editReleaseWorksheet"
    class="modal_outer hidden"
    ng-controller="releasesController"
    ng-click="ngShowHide('editReleaseWorksheet')"
>
    <div
        class="modal_inner edit_release_worksheet_container"
        ng-click="$event.stopPropagation()"
    >

        <img
            ng-if="!releasesObject.editingRelease"
            class="tiny_loader"
            src="/static/media/images/loading_io.gif"
            title="Loading..."
            alt="Loading spinner for the active/open release."
        />

        <div
            ng-if="releasesObject.editingRelease"
            class="admin_panel_release_anchor_creator"
        >
            <input
                ng-model="scratch.alink_URL"
                placeholder="URL"
                ng-change="updateAlink()"
            />
            <input
                ng-model="scratch.alink_text"
                placeholder="text"
                ng-change="updateAlink()"
            />
            <div
                ng-if="
                    scratch.alink_URL !== undefined &&
                    scratch.alink_text !== undefined
                "
                class="selectable admin_panel_release_link_selector_container"
            >
                <span
                    class="clickable admin_panel_release_link_selector"
                    ng-bind-html="scratch.alink|trustedHTML"
                >
                </span>
            </div>

        </div> <!-- anchor creator -->

        <h3
            ng-if="releasesObject.editingRelease"
        >
            {a releasesObject.editingRelease.platform a}
            <span
                ng-repeat="bit in ['major', 'minor', 'patch']"
            >
                <input
                    title"{a bit a}"
                    class="admin_panel_release_title_version_number"
                    ng-model="releasesObject.editingRelease.version[bit]"
                    ng-blur="updateRelease();"
                />
                <span
                    ng-if="bit !== 'patch'"
                >.</span>
            </span>
        </h3>

        created: {a releasesObject.editingRelease.created_on.$date|date:'EEEE, yyyy-MM-dd HH:mm' a} | 
        last updated: {a releasesObject.editingRelease.modified_on.$date|date:'EEEE, yyyy-MM-dd HH:mm:ss' a}

        <!-- summary text block -->
        <div
            ng-if="releasesObject.editingRelease"
            class="admin_panel_edit_release_summary_container"
        >
            <div
                contenteditable
                id="editReleaseWorksheetSummary"
                ng-bind-html="releasesObject.editingRelease.summary|trustedHTML"
                ng-blur="
                    releasesObject.editingRelease.summary = exportThis($event);
                    updateRelease();
                "
            >
            </div>
        </div>


        <!-- sections -->

        <!-- HACK CITY! -->
        <span
            ng-if="releasesObject.editingRelease.sections === null"
            ng-init="releasesObject.editingRelease.sections = []"
        ></span>

        <div
            ng-if="
                releasesObject.editingRelease &&
                releasesObject.editingRelease.sections.length < 
                    {{ ADMIN_PANEL_RELEASES_DEFAULT_SECTIONS }}.length
            "
            class="kd worksheet_block flex"
        >

            <div
                ng-repeat="section in {{ ADMIN_PANEL_RELEASES_DEFAULT_SECTIONS }}"
                ng-click="
                    toggleSection(section);
                    addItemToSection(section);
                "
                ng-if="releasesObject.editingRelease.sections.indexOf(section) < 0"
                class="clickable kd worksheet_row"
            >
                <div class="kd checkbox"></div>
                <div class="kd checkbox_desc">{a section a}</div>
            </div>

        </div><!-- toolbar -->


        <!-- BEGIN main editing bit -->
        <div
            ng-init="
                sectionId = sectionName + 'section';
                ngShow(sectionId);
            "
            ng-repeat="sectionName in releasesObject.editingRelease.sections"
            class="kd worksheet_block"
        >

                <div
                    ng-click="ngShowHide(sectionId)"
                    class="clickable kd worksheet_row principle"
                >

                    <div
                        class="kd checkbox large"
                        ng-class="{
                            'checked': ngVisible[sectionId], 
                        }"
                    >
                    </div>

                    <div
                        class="kd checkbox_desc font_large"
                    >
                        {a sectionName a} -
                        {a (releasesObject.editingRelease.items|filter:{section:sectionName, feature:true}).length a} features /
                        {a (releasesObject.editingRelease.items|filter:{section:sectionName, feature:false}).length a} items 
                    </div>

                    <div
                        ng-click="toggleSection(sectionName)"
                        class="kd red_text"
                    >
                        &#10006; delete section
                    </div>
                </div>


                <!-- item repeater and controls -->
                <div class="admin_panel_edit_release_items_container">

            <div
                id='{a sectionName a}section'
                class="admin_panel_edit_release_item_bar"
                ng-repeat="item in releasesObject.editingRelease.items|orderBy:'sort'"
                ng-if="
                    item.section === sectionName &&
                    ngVisible[sectionId]
                "
            >
                <div
                    class="admin_panel_edit_release_item_buttons"
                >
                    <button
                        ng-click="item.sort = item.sort + 1"
                    >
                        &#x25BC;
                    </button>
                    <button
                        class="invert"
                        ng-click="item.sort = item.sort - 1"
                    >
                        &#x25BC;
                    </button>
                    <button
                        class="kd_pink"
                        ng-click="
                            releasesObject.editingRelease.items.splice($index, 1);
                            releasesObject.editingRelease.version.patch = releasesObject.editingRelease.version.patch - 1;
                        "
                    >
                        &#10006;
                    </button>
                    <button
                        class="kd checkbox large"
                        ng-class="{'checked': item.feature}"
                        ng-click="item.feature = !item.feature"
                    >
                    </button>
                </div>

                    <div class="admin_panel_edit_release_item_body_container">
                        <div
                            id="{a releasesObject.editingRelease._id.$oid + '_item_' + $index a}"
                            contenteditable="true"
                            placeholder="New release note here."
                            class="admin_panel_edit_release_item_body"
                            ng-bind-html="item.body|trustedHTML"
                            ng-blur="
                                item.body = exportThis($event);
                            "
                        >
                        </div>
                    </div>

                    <div
                        ng-if="item.feature === true"
                        class="admin_panel_edit_release_item_detail_container"
                        ng-init="initializeFeatureDetail(item)"
                    >
                        <div
                            id="{a 'item_' + item.sort + '_detail_' + $index a}"
                            class="admin_panel_edit_release_item_detail"
                            ng-repeat="detail in item.details"
                            contenteditable
                            ng-blur="detail.body = exportThis($event)"
                            ng-bind-html="detail.body|trustedHTML"
                        >
                        </div>
                        <button
                            class="clickable admin_panel_edit_release_item_detail"
                            ng-click="addDetailToItem(item)"
                        >
                            &ensp; <i>Create a new detail...</i>
                        </button>
                        </div>

                    </div><!-- item repeater -->
                </div><!-- items container-->

            <!-- add new item -->
            <div
                class="clickable admin_panel_edit_release_item_bar"
                ng-click="
                    newItemId = addItemToSection(sectionName);
                "
            >
                <div
                    class="admin_panel_edit_release_item_buttons"
                >
                    <button disabled >
                        &#x25BC;
                    </button>
                    <button class="invert" disabled>
                        &#x25BC;
                    </button>
                    <button disabled >
                        &#10006;
                    </button>
                    <div class="kd checkbox large red"></div>
                </div>
                <div
                    class="admin_panel_edit_release_item_body"
                >
                    <div class="kd checkbox_desc"> <i>Create a new item...</i></div>
                </div>
            </div>

        </div><!-- section repeater -->

        <!-- END main editing bit -->

        <div
            class="modal_button_raft"
        >

            <button
                id="armDeleteReleaseButton"
                class="kd capsule yellow"
                ng-click="
                    ngHide('armDeleteReleaseButton');
                    ngShow('deleteReleaseButton');
                "
            >
                DELETE?
            </button>

            <button
                id="deleteReleaseButton"
                class="kd capsule red hidden"
                ng-click="
                    ngHide('editReleaseWorksheet');
                    ngHide('deleteReleaseButton');
                    ngShow('armDeleteReleaseButton');
                    updateRelease('delete');
                    setReleases();
                "
            >
                DELETE!
            </button>

            <button
                class="kd capsule"
                ng-click="ngShowHide('editReleaseDebugger');"
            >
                View DEBUG Output
            </button>

        </div>

        <div
            class="modal_button_raft"
        >

            <button
                class="kd capsule"
                ng-class="{
                    'blue': releasesObject.editingRelease.published,
                }"
                ng-click="
                    releasesObject.editingRelease.published = !releasesObject.editingRelease.published;
                    updateRelease();
                "
            >
                Publish
            </button>

            <button
                class="kd capsule green"
                ng-click="
                    updateRelease();
                "
            >
                Save
            </button>
            <button
                class="kd capsule green"
                ng-click="
                    updateRelease();
                    ngShowHide('editReleaseWorksheet')
                "
            >
                Save changes & close
            </button>

        </div>

        <!-- debug for the worksheet -->
        <code
            id="editReleaseDebugger"
            class="hidden"
        >
            <span
                ng-if="!releasesObject.editingRelease"
            >
                NO RELEASE LOADED!!!
                <hr/>
                releasesObject: |{a releasesObject a}|
            </span>
            <span
                ng-if="releasesObject.editingRelease"
            >
                {a releasesObject.editingRelease a}
            </span>

        </code>

    </div>
</div>
<!-- END release editor -->
