<!--

	This 'admin.html' template block contains all the generic admin-level
	controls, including the ones for creating API alerts. 

-->

<div class="flex_item_basic">

    <!-- admin panel corner detail -->
    <div
        class="clickable corner"
        ng-click="ngShowHide('adminPanelReleaseDetails')"
    >
    </div>

    <!-- main admin panel info -->

    <h1>KDM API</h1>
    <b>Hostname:</b> {a settings.meta.server.hostname a}<br/>
    <b>Version:</b> {a settings.meta.api.version a}<br/>
    <b>Current User:</b> {a user.login a}

	<!-- alerts start here -->
    <div class="kd worksheet_block" ng-if="webappAlerts.length > 0">

        <h3 class="kd worksheet_block_title">Active alerts</h2>

        <div
            class="clickable kd worksheet_row lined"
            ng-repeat="alert in webappAlerts"
            ng-click="ngShowHide(alert._id.$oid + '_controls')"
        >

            <div class="kd checkbox checked"></div> 
            <div
                class="kd checkbox_desc"
            >
                <b>{a alert.title a}</b>
        		<span ng-bind-html="alert.body|trustedHTML"></span>


                <div
            		id="{a alert._id.$oid a}_controls"
                   	class="hidden alert_footer"
       	    	>
                    <b>release:</b> {a alert.release a} |
	    	    	<b>type:</b> {a alert.sub_type a} |
    	    	    <b>created:</b> {a alert.created_on.$date | date:'yyyy-MM-dd @ h:mma' a} |
	    	    	<b>expires:</b> {a alert.expiration a}

                    <button
                        class="kd capsule red"
                        ng-click="
                            $event.stopPropagation();
                            expireAlert(alert)
                        "
                    >
        	    		Expire
    	        	</button>

                </div> <!-- alert controls -->

            </div> <!-- kd checkbox_desc -->

        </div> <!-- kd worksheet_row webappAlerts repeater -->

        <div
            class="clickable kd worksheet_row lined borderless"
            ng-click="ngShow('createNewAlert')"
        >
            <div class="kd checkbox"></div>
            <div class="kd checkbox_desc">
                Click/tap to create a new webapp alert!
            </div>
        </div>

    </div> <!-- kd worksheet_block -->

</div> <!-- flex_item_basic -->


<!--

    release details modal
    
-->

<div
    id="adminPanelReleaseDetails"
    class="hidden modal_outer"
    ng-if="ngVisible['adminPanelReleaseDetails']"
>

    <div class="modal_inner slender_modal">

        <h2 class="kd title">KDM API</h2>

        <div
            class="kd worksheet_block"
        >
            <div class="kd_worksheet_row">
                <b>Panel Revision:</b> {a settings.meta.api.panel.panel_revision a}
            </div>
            <div class="kd_worksheet_row">
                <b>Last Refreshed:</b> {a refreshed a} ({a seconds_since_last_refresh a} seconds ago)
            </div>
            <div class="kd_worksheet_row">
                <b>Last Push:</b> {a github.pushed_at a}
            </div>
            <div class="kd_worksheet_row">
                <b>Open API Issues:</b> {a github.open_issues a}
            </div>
        </div> <!-- worksheet block -->

        <h2 class="kd title">Resources</h2>
        <div
            class="kd worksheet_block"
        >
            <div
                ng-repeat="(href, desc) in {
                    '/stat': 'API Settings',
                    '/': 'API Documentation',
                    '/blog': 'Development Blog',
                    '/https://github.com/theLaborInVain/kdm-manager-api': 'GitHub',
                }"
                class="kd worksheet_row"
            >
                <div
                    class="kd checkbox checked"
                >
                </div>
                <div
                    class="kd checkbox_desc"
                >
                    <a ng-href="{a href a}">{a desc a}</a>
                </div>
            </div>
        </div>

        <center>
            <button
                ng-click="ngShowHide('adminPanelReleaseDetails')"
                class="clickable capsule kd yellow full_width"
            >
                Close
            </button>
        </center>

    </div><!-- modal inner -->

</div><!-- modal outer -->


<!--

    create new alert modal
    
-->

<div
    id="createNewAlert"
    class="hidden modal_outer"
    ng-click="ngHide('createNewAlert')"
>

    <div
        class="modal_inner slender_modal"
        ng-click="$event.stopPropagation()"
    >

        <h3 class="kd title">New Alert</h3>
        <div class="create_webapp_alert_control_block">

            <input
                class="webapp_alert_title"
                type="text"
                ng-model="newAlert.title"
                placeholder="New Webapp Alert Title!"
            />

            <textarea
                class="webapp_alert_body"
                ng-model="newAlert.body"
            >
            </textarea>

        </div>
        <h3 class="kd title">Alert Type</h3>
        <div
            class="kd worksheet_block"
        >
            <div
                class="clickable kd worksheet_row"
                ng-repeat="alert_type in ['kpi','announcement']"
                ng-click="newAlert.type = alert_type"
            >
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': newAlert.type === alert_type
                    }"
                >
                </div>
                <div
                    class="kd checkbox_desc"
                >
                    {a alert_type a}
                </div>
            </div>
        </div>
        <h3 class="kd title">Expiration</h3>
        <div
            class="kd worksheet_block"
        >
            <div
                class="clickable kd worksheet_row"
                ng-repeat="alert_exp in ['next_release','manual']"
                ng-click="newAlert.expiration = alert_exp"
            >
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': newAlert.expiration === alert_exp
                    }"
                >
                </div>
                <div
                    class="kd checkbox_desc"
                >
                    {a alert_exp a}
                </div>
            </div>
        </div>

        <center>
            <button
                ng-disabled="
                    newAlert.title === null ||
                    newAlert.body === null
                "
                ng-click="createAlert()"
                class="kd capsule blue full_width"
            >
                CREATE NEW WEBAPP ALERT
            </button>

            <button
                ng-click="ngHide('createNewAlert')"
                class="kd capsule full_width"
            >
                Close
            </button>
        </center>
    </div><!-- modal_inner -->

</div><!-- modal_outer -->
