<!-- BEGIN releases controller -->
<div
    class="flex_item_basic"
    ng-controller="releasesController"
>
    <div
        class="initializing_screen"
        ng-if="
            releasesObject.showLoader !== false
        "
    >
        <img src="/static/media/images/loading_io.gif" >
        <div>Loading releases info...</div>
    </div>

    <div
        class="flex_item_inner"
        ng-if="apiData.releases.all"
        ng-init="releasesObject.showLoader = false"
    >

        <h2 class="kd title">Blog of Death</h2>

        <div
            class="clickable kd worksheet_block"
            ng-click="
                ngShowHide('createNewReleaseLauncher');
            "
        >

            <div
                class="kd worksheet_row"
            >

                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': ngVisible['createNewReleaseLauncher'] === true,
                    }"
                ></div>
                <div class="kd checkbox_desc">Create post</div>

            </div>


            <div
                id="createNewReleaseLauncher"
                class="modal_button_raft"
                ng-if="ngVisible['createNewReleaseLauncher']"
            >
                <button
                    class="clickable kd_pink"
                    ng-repeat="platform in apiData.releases.platforms"
                    ng-click="
                        ngShowHide('createNewReleaseLauncher');
                        createNewRelease(platform.app, user.login);
                        ngShowHide('editReleaseWorksheet')
                    "
                >
                    {a platform.app a}
                </button>
            </div>

        </div><!-- worksheet_block -->

        <!-- BEGIN launch releases editor -->
        <div
            class="kd worksheet_block"
        >
            <div
                class="clickable kd worksheet_row"
                ng-repeat="release in apiData.releases.all"
                title="created: {a release.created_on.$date|date:'EEEE, yyyy-MM-dd HH:mm' a}"
                ng-click="
                    releasesObject.editingRelease = release;
                    ngShowHide('editReleaseWorksheet')
                "
                ng-if="$index < settings.meta.api.panel.panel_releases_visible"
            >

                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': release.published,
                    }"
                >
                </div>

                <div
                    class="kd checkbox_desc"
                >
                    <b>
                    {a release.published_on.$date|date:'yyyy-MM-dd' a}
                    </b>
                    {a release.platform a}:
                    {a release.version.major a}.{a release.version.minor a}.{a release.version.patch a}
                </div>

            </div><!-- worksheet_row -->

        </div><!-- worksheet block -->

        <div
            class="clickable kd capsule blue"
            ng-click="
                settings.meta.api.panel.panel_releases_visible =
                settings.meta.api.panel.panel_releases_visible + 5
            "
            ng-if="
                settings.meta.api.panel.panel_releases_visible <
                apiData.releases.all.length
            "
        >
            Show more releases...
        </div>

    </div> <!-- flex_item_inner -->


    <!-- BEGIN release editor -->
    <div
        id="editReleaseWorksheet"
        class="modal_outer hidden"
    >
        <div
            class="modal_inner edit_release_worksheet_container"
        >

            <div
                ng-if="!releasesObject.editingRelease"
            >
                <img src="/static/media/images/loading_io.gif" >
                <div>Loading release...</div>
            </div>

            <div
                class="admin_panel_release_anchor_creator"
            >
                <input ng-model="scratch.alink_URL" placeholder="URL" ng-change="updateAlink()"/>
                <input ng-model="scratch.alink_text" placeholder="text" ng-change="updateAlink()" />
                <div
                    ng-if="
                        scratch.alink_URL !== undefined &&
                        scratch.alink_text !== undefined
                    "
                    class="selectable admin_panel_release_link_selector_container"
                >
                    <span
                        class="clickable admin_panel_release_link_selector"
                        ng-bind-html="scratch.alink|trustedHTML"
                    >
                    </span>
                </div>
            </div>

            <h3>
                {a releasesObject.editingRelease.platform a}
                <span
                    ng-repeat="bit in ['major', 'minor', 'patch']"
                >
                    <input
                        title"{a bit a}"
                        class="admin_panel_release_title_version_number"
                        ng-model="releasesObject.editingRelease.version[bit]"
                        ng-blur="updateRelease();"
                    />
                    <span
                        ng-if="bit !== 'patch'"
                    >.</span>
                </span>
            </h3>
            created: {a releasesObject.editingRelease.created_on.$date|date:'EEEE, yyyy-MM-dd HH:mm' a} | 
            last updated: {a releasesObject.editingRelease.modified_on.$date|date:'EEEE, yyyy-MM-dd HH:mm:ss' a}

            <!-- toolbar -->
            <div
                class="admin_panel_edit_release_summary_container"
            >
                <div
                    contenteditable
                    id="editReleaseWorksheetSummary"
                    ng-bind-html="releasesObject.editingRelease.summary|trustedHTML"
                    ng-blur="
                        releasesObject.editingRelease.summary = exportThis($event);
                        updateRelease();
                    "
                >
                </div>
            </div>
            <div
                class="admin_panel_edit_release_toolbar"
            >
                <!-- HACK CITY! -->
                <span
                    ng-if="releasesObject.editingRelease.sections === null"
                    ng-init="releasesObject.editingRelease.sections = []"
                ></span>

                <div
                    ng-repeat="section in [
                        'Administration',
                        'Corrections and fixes',
                        'Enhancements',
                        'Expansion content',
                        'Deprecations',
                        'Version 3',
                        'Version 4',
                    ]"
                    ng-click="
                        toggleSection(section);
                        addItemToSection(section);
                    "
                    ng-if="releasesObject.editingRelease.sections.indexOf(section) < 0"
                    class="clickable admin_panel_edit_release_toolbar_button kd_blue"
                >
                    + {a section a}
                </div>
            </div><!-- toolbar -->

            <!-- BEGIN main editing bit -->

            <div
                ng-init="
                    sectionId = sectionName + 'section';
                    ngShow(sectionId);
                "
                ng-repeat="sectionName in releasesObject.editingRelease.sections"
                class="admin_panel_edit_release_section_container"
            >
                <h3
                    class="kd_blue admin_panel_edit_release_section_title"
                >
                    <div
                        ng-click="ngShowHide(sectionId)"
                        class="clickable kd worksheet_row"
                    >

                        <div
                            class="kd checkbox"
                            ng-class="{
                                'checked': ngVisible[sectionId], 
                            }"
                        >
                        </div>

                        <div
                            class="kd checkbox_desc"
                        >
                            {a sectionName a} -
                            {a (releasesObject.editingRelease.items|filter:{section:sectionName, feature:true}).length a} features /
                            {a (releasesObject.editingRelease.items|filter:{section:sectionName, feature:false}).length a} items 
                        </div>

                    </div>
                    <span class="clickable" ng-click="toggleSection(sectionName)">
                        &#10006;
                    </span>
                </h3>

                <!-- item repeater and controls -->
                <div
                    id='{a sectionName a}section'
                    class="admin_panel_edit_release_item_bar"
                    ng-repeat="item in releasesObject.editingRelease.items|orderBy:'sort'"
                    ng-if="
                        item.section === sectionName &&
                        ngVisible[sectionId]
                    "
                >
                    <div
                        class="admin_panel_edit_release_item_buttons"
                    >
                        <button
                            ng-click="item.sort = item.sort + 1"
                        >
                            &#x25BC;
                        </button>
                        <button
                            class="invert"
                            ng-click="item.sort = item.sort - 1"
                        >
                            &#x25BC;
                        </button>
                        <button
                            class="kd_pink"
                            ng-click="
                                releasesObject.editingRelease.items.splice($index, 1);
                                releasesObject.editingRelease.version.patch = releasesObject.editingRelease.version.patch - 1;
                            "
                        >
                            &#10006;
                        </button>
                        <input
                            title="Click to make this patch a feature (increments minor version)"
                            type="checkbox"
                            ng-model="item.feature"

                        />
                    </div>
                    <div
                        id="{a releasesObject.editingRelease._id.$oid + '_item_' + $index a}"
                        contenteditable
                        class="admin_panel_edit_release_item_body"
                        ng-bind-html="item.body|trustedHTML"
                        ng-blur="
                            item.body = exportThis($event);
                        "
                    >
                    </div>
                    <div
                        ng-if="item.feature === true"
                        class="admin_panel_edit_release_item_detail_container"
                        ng-init="initializeFeatureDetail(item)"
                    >
                        <div
                            id="{a 'item_' + item.sort + '_detail_' + $index a}"
                            class="admin_panel_edit_release_item_detail"
                            ng-repeat="detail in item.details"
                            contenteditable
                            ng-blur="detail.body = exportThis($event)"
                            ng-bind-html="detail.body|trustedHTML"
                        >
                        </div>
                        <button
                            ng-click="addDetailToItem(item)"
                        >&#43 detail </button>
                    </div>


                </div><!-- item repeater -->

                <div
                    class="admin_panel_edit_release_item_bottom_raft"
                    ng-if="ngVisible[sectionId]"
                >
                    <button
                        class="
                            kd_yellow modal_button
                            circle admin_panel_edit_release_add_item
                        "
                        ng-click="
                            newItemId = addItemToSection(sectionName);
                        "
                    >
                        <div>&#43;</div>
                    </button>
                </div>

            </div><!-- section repeater -->

            <!-- END main editing bit -->

            <div
                class="modal_button_raft"
            >

                <button
                    id="armDeleteReleaseButton"
                    class="kd_yellow"
                    ng-click="
                        ngShowHide('armDeleteReleaseButton');
                        ngShowHide('deleteReleaseButton');
                    "
                >
                    DELETE?
                </button>

                <button
                    id="deleteReleaseButton"
                    class="kd_red hidden"
                    ng-click="
                        ngShowHide('editReleaseWorksheet');
                        ngShowHide('deleteReleaseButton');
                        ngShowHide('armDeleteReleaseButton');
                        updateRelease('delete');
                        setReleases();
                    "
                >
                    DELETE!
                </button>

                <button
                    ng-class="{
                        'kd_blue': releasesObject.editingRelease.published,
                    }"
                    ng-click="
                        releasesObject.editingRelease.published = !releasesObject.editingRelease.published;
                        updateRelease();
                    "
                >
                    Publish
                </button>

                <button
                    class="kd_green"
                    ng-click="
                        updateRelease();
                    "
                >
                    Save
                </button>
                <button
                    class="kd_green"
                    ng-click="
                        updateRelease();
                        ngShowHide('editReleaseWorksheet')
                    "
                >
                    Save changes & close
                </button>

            </div>

            <!-- debug for the worksheet -->
            <div
                class="clickable admin_panel_release_worksheet_debug_clicker"
                ng-click="ngShowHide('editReleaseDebugger');"
            >
            </div>
            <code
                id="editReleaseDebugger"
                class="hidden"
            >
                {a releasesObject.editingRelease a}
            </code>

        </div>
    </div>
    <!-- END release editor -->


</div>
<!-- END releases controller -->
