<!-- user administration! -->
<div class="flex_item_basic" ng-controller="userAdminController">

    <div id="userSpinner" class="bg_spinner" ng-if="scratch.showLoader === true">
        <img src="/static/media/images/loading_io.gif" >
    </div>


    <!-- user stats -->
    <div
        class="kd worksheet_block"
    >

        <h3 class="kd title">User Stats</h3>

        <div
            class="clickable kd worksheet_row lined"
            ng-click="ngShow('userAgentPopularityContest')"
        >
            <div class="kd checkbox red"></div>
            <div class="kd checkbox_desc">
                User agent popularity contest
            </div>
        </div>

        <div
            class="clickable kd worksheet_row zebra"
            ng-click="ngShow('apiResponseTimes')"
        >
            <div class="kd checkbox red"></div>
            <div class="kd checkbox_desc">
                API response times
            </div>
        </div>

    </div> <!-- worksheet block -->


    <!-- user counts -->

    <div class="kd attributes_table">
        <div
            class="large_cell"
        >
            <div class="title">Users</div>
            <span>
                {a world.world.total_users.value a}
            </span>
        </div>
        <div
            class="cell"
        >
            <div class="title">Lvl. 0</div>
            <span>
                {a world.world.total_users.value - world.world.total_subscribers.value a}
            </span>
        </div>
        <div
            class="cell"
            ng-repeat="t in world.world.subscribers_by_level.value"
            ng-click="scratch.subscriberToolTip = settings.meta.subscriptions['level_' + t.level]"
        >
            <div class="title">Lvl. {a t.level a}</div>
            <span> {a t.count a}</span>
        </div>
    </div> <!-- attributes table -->


    <!-- user admin controls -->
    <div
        class="kd worksheet_block"
    >

        <h3 class="kd title">User Administration</h3>

        <div id="userFailure" ng-if="scratch.get_user_data_failure == true">
            <hr/>
            <p><b>Could not refresh recent user data!</b></p>
            <code>{a scratch.get_user_data_failure_msg a}</code>
        </div>

        <div
            class="clickable kd worksheet_row justified"
            ng-class-even="'zebra'"
            ng-class="{'lined': !$last}"
            ng-repeat="u in users.user_info"
            ng-click = "
                scratch.searchUserEmail = u.login;
                getUser();
            "
        >
            <div
                title="Whether the user is presently active or not."
                class="kd checkbox"
                ng-class="{
                    'checked': u.is_active,
                }"
            >
            </div>
            <div
                title="User login is BOLD if the user is a subscriber."
                class="kd checkbox_desc"
                ng-class="{'bold': u.subscriber.level > 1}"
            >
                {a u.login a}
            </div>
            <div class="font_small">
                {a u.latest_api_client a}
            </div>
        </div>

        <form
            class="text_input_container"
        >
            <input
                class="text_input_input"
                type="email"
                placeholder="search for a user"
                ng-model="scratch.searchUserEmail"
            />

            <button
                type="submit"
                class="text_input_button"
                ng-disabled="
                    scratch.searchUserEmail === undefined
                "
                ng-click="
                    getUser();
                    $event.stopPropagation();
                "
            >
                Go!
            </button>
        </form>

    </div> <!-- kd worksheet_block -->

    <!--

        workWithUserModal starts here! Keep it in scope of this controller!

    -->

    <div
        id="workWithUserModal"
        class="modal_outer"
        ng-if="workWithUser !== undefined"
        ng-click="closeWorkWithUser()"  
    >
        <div 
            class="modal_inner slender_modal"
            ng-click="$event.stopPropagation()"
        >
            <div class="error_text_block" ng-if="workWithUser.user.login === null">
                [user not found!]
            </div>

            <div 
                class="user_info_block"
                ng-if="workWithUser !== undefined && workWithUser.user.login !== null"
            >
                <h2 class="kd">{a workWithUser.user.login a}</h2>
            
                <div class="user_info_block user_info_block_header">

                    <img
                        class="profile_gravatar"
                        src="https://www.gravatar.com/avatar/{a workWithUser.user.gravatar_hash a}"
                    />

                    <div>
                		<b>OID:</b> {a workWithUser.user._id.$oid a}<br/>
		                <b>User Age:</b> {a workWithUser.user.age a}<br/>
                        <b>Created On:</b> {a workWithUser.user.created_on.$date | date:'yyyy-MM-dd @ h:mma Z' a}<br/>
                        <b>Latest Sign-in:</b> {a workWithUser.user.latest_authentication.$date | date:'yyyy-MM-dd @ h:mma Z' a}<br/>
                        <b>Latest API client:</b> {a workWithUser.user.latest_api_client a}</br/>
                        <b>Latest Activity:</b> {a workWithUser.user.latest_activity.$date | date:'yyyy-MM-dd @ h:mma Z' a}<br/>
        	            <b>Latest Action:</b> {a workWithUser.user.latest_action a}<br/>
                		<b>Settlements created:</b> {a workWithUser.user.settlements_created a}<br/>
                		<b>Survivors created:</b> {a workWithUser.user.survivors_created a}<br/>
                    </div>


                 </div>

                <div
                    class="user_detail_button_raft"
                >
                    <button
                        class="kd capsule blue"
                        ng-click="
                            scratch.searchUserEmail = workWithUser.user.login;
                            getUser();
                        "
                    >
                        Reload
                    </button>
                    <button
                        class="kd capsule yellow"
                        ng-click="exportUser(workWithUser.user.login)"
                    >
                        Export
                    </button>
                </div>

    			<div
                    class="user_info_block" ng-if="workWithUser.user.subscriber.level > 0">
                    <i>{a world.meta.subscriptions[workWithUser.user.subscriber.level_handle].desc a}</i><br/>
			    	<b>Subscriber for:</b> {a workWithUser.user.subscriber.age a} <br/>
				    <b>Subscriber level:</b> {a workWithUser.user.subscriber.level a} <br/>
    				<b>Subscription set on:</b> {a workWithUser.user.subscriber.updated_on.$date |date:'yyyy-MM-dd' a} <br/>
	    		</div>

		    	<div class="kd worksheet_block">

                    <h3 class="kd title">Subscription</h3>

                    <div
                        class="clickable kd worksheet_row"
                        ng-class="{
                            'yellow': workWithUser.user.subscriber.level == sub_level.level
                        }"
                        ng-repeat="sub_level in world.meta.subscriptions"
                        ng-click="
                            setSubscriptionLevel(workWithUser, sub_level);
                        "
                    >
                        <div
                            class="kd checkbox"
                            ng-class="{'checked': workWithUser.user.subscriber.level === sub_level.level}"
                        >
                        </div>

                        <div class="kd checkbox_desc">
                            {a sub_level.desc a}
                        </div>

                    </div> <!-- subscription level repeater worksheet_block-->

                </div>

                <div
                    class="kd worksheet_block"
                >
                    <h3 class="kd title">Administration</h3>

                    <div
                        class="clickable kd worksheet_row"
                        ng-click="toggleVerifiedEmail(workWithUser.user)"
                    >
                        <div
                            class="kd checkbox"
                            ng-class="{
                                'checked': workWithUser.user.verified_email,
                            }"
                        >
                        </div>
                        <div
                            class="kd checkbox_desc"
                        >
                            Verified email
                        </div>
                    </div>

                </div><!-- worksheet block -->

                <div
                    class="kd worksheet_block"
                >

                    <h3 class="kd title">Activity</h3>

                    <div
                        class="kd worksheet_row"
                        ng-class-even="'zebra'"
                        ng-repeat="event in workWithUser.user.activity_log"
                    >
                        <div
                            class="user_activity_table_timestamp"
                        >
                            {a event[0].$date | date:'yyyy-MM-dd hh:mm' a}<br/>
                        </div>
                        <div
                            class="user_activity_table_api_client"
                        >
                            {a event[1] a}
                        </div>
                        <div>
                            {a event[2] a}
                        </div>
                    </div>

                </div> <!-- worksheet_block -->

                <button
                    class="clickable capsule kd full_width"
                    ng-click="closeWorkWithUser()"  
                >
                    Close
                </button>

            </div> <!-- modal inner-->
        </div> <!-- modal outer -->

    </div> <!-- work with user -->

</div><!-- flex item basic -->



<!-- the fold for this template! dump all out of scope modals here! -->

<div
    id="userAgentPopularityContest"
    class="modal_outer hidden"
    ng-click="ngHide('userAgentPopularityContest')"
>

    <div
        class="modal_inner slender_modal"
        ng-click="$event.stopPropagation()"
    >

        <table id="user_agent_popularity_contest">
            <tr><th>UA String</th><th>&nbsp; # &nbsp; </th></tr>
            <tr ng-repeat="ua in users.user_agent_stats" ng-class-even="'zebra'">
                <td>{a ua.latest_user_agent a}:</td><td>{a ua.count a}</td>
            </tr>
        </table>

        <div
            class="clickable kd capsule"
            ng-click="ngHide('userAgentPopularityContest')"
        >
            Close
        </div>

    </div> <!-- modal_inner -->

</div> <!-- UA popularity contest -->

<div
    id="apiResponseTimes"
    class="modal_outer hidden"
    ng-click="ngHide('apiResponseTimes')"
>

    <div
        class="modal_inner slender_modal"
        ng-click="$event.stopPropagation()"
    >

        {% include 'admin_panel/api_response_times.html' %}

        <div
            class="clickable kd capsule"
            ng-click="ngHide('apiResponseTimes')"
        >
            Close
        </div>

    </div> <!-- modal_inner -->

</div> <!-- UA popularity contest -->
