<!-- user administration! -->
<div class="flex_item_basic users" ng-controller="userAdminController">

    <div id="userSpinner" class="bg_spinner" ng-if="scratch.showLoader === true">
        <img src="/static/media/images/loading_io.gif" >
    </div>

    <h2>User Administration</h2>
    <b>Registered Users:</b> {a world.world.total_users.value a}<br/>
    <b>Subscribers:</b> {a world.world.total_subscribers.value a}

    <table class="subscribers_breakdown_table">
        <tr ng-repeat="t in world.world.subscribers_by_level.value">
            <td><i>Lvl. {a t.level a}:</i></td>
            <td>{a t.count a}</td>
        </tr>
    </table>

    <h3>Recent User Activity </h3>

    <b title="Active during the last {a users.meta.active_user_horizon a} minutes">
        Active user count:
    </b>
    {a users.meta.active_user_count a}
    <br/>

    <b title="Active during the last {a users.meta.recent_user_horizon a} hours">
    Recent user count:
    </b>
    {a users.meta.recent_user_count a}
    <br/>
    
    <div id="userFailure" ng-if="scratch.get_user_data_failure == true">
        <hr/>
        <p><b>Could not refresh recent user data!</b></p>
        <code>{a scratch.get_user_data_failure_msg a}</code>
    </div>

    <div class="users_container">
        <div
            class="user_basic_info clickable tile"
            ng-class="{
                'inactive_user': u.is_active == false,
                'active_user': u.is_active,
                'signed_out_user': u.latest_action=='signed out',
                'inactive_subscriber': u.is_active == false && u.subscriber.level > 0,
                'active_subscriber': u.is_active && u.subscriber.level > 0,
                'signed_out_subscriber': u.latest_action=='signed out' && u.subscriber.level > 0,
            }"
            ng-repeat="u in users.user_info"
            ng-click="showHide('user_' + u._id.$oid);"
        >
            <h2 class="user_basic_info_login">
                {a u.login a}
                <span
                    ng-if="u.latest_action == 'signed out'"
                    style="font-weight: normal"
                >
                    (signed out)
                </span>
            </h2>

            <div
                class="user_detail hidden"
                id="user_{a u._id.$oid a}"
                title="Click again to close and copy OID to clipboard."
            >
                <b>Latest User Agent:</b> {a u.latest_user_agent a}<br/>
                <b>Latest Activity:</b> {a u.latest_activity_age a} ago<br/>
                <b>Latest Action:</b> {a u.latest_action a}<br/>
                <b>Active:</b> {a u.is_active a}<br/>

                <div
                    class="user_detail_button_raft"
                    ng-click="$event.stopPropagation()"
                >
                    <button
                        ng-click="copyToClipboard(u._id.$oid);"
                    >
                        Copy OID
                    </button>
                    <button
                        ng-if="user.jwt"
                        ng-click="
                            scratch.searchUserEmail = u.login;
                            getUser();
                        "
                    >
                        Edit user 
                    </button>
                    <button ng-click="exportUser(u.login)">
                        Export
                    </input>
                </div>

            </div>
        </div>
    </div>

    <h3>Edit user</h3>

    <div
        class="error_text_block"
        ng-if="!user.jwt"
    >
        [set '{a user.login a}' password to work with users]
    </div>

    <div
        class="text_input_container zebra"
        ng-if="!scratch.showLoader && user.jwt"
    >

        <input
            class="text_input_input"
            type="email"
            placeholder="search for a user"
            ng-model="scratch.searchUserEmail"
        />

        <button
            class="text_input_button"
            ng-disabled="scratch.searchUserEmail === undefined"
            ng-click="getUser()"
        >
            Search!
        </button>

    </div>

    <!--

        workWithUserModal starts here! Keep it in scope of this controller!

    -->
    <div
        id="workWithUserModal"
        class="modal_outer"
        ng-if="workWithUser !== undefined"
    >
        <div 
            class="modal_inner work_with_user_container"
        >
            <div class="error_text_block" ng-if="workWithUser.user.login === null">
                [user not found!]
            </div>

            <div 
                class="user_info_block"
                ng-if="workWithUser !== undefined && workWithUser.user.login !== null"
            >
                <h4>{a workWithUser.user.login a}</h4>
            
                <div class="user_info_block user_info_block_header">

                    <img
                        class="profile_gravatar"
                        src="https://www.gravatar.com/avatar/{a workWithUser.user.gravatar_hash a}"
                    />

                    <div>
                		<b>OID:</b> {a workWithUser.user._id.$oid a}<br/>
		                <b>User Age:</b> {a workWithUser.user.age a}<br/>
        	            <b>Created On:</b> {a workWithUser.user.created_on.$date | date:'yyyy-MM-dd @ h:mma' a}<br/>
        	            <b>Latest Sign-in:</b> {a workWithUser.user.latest_sign_in.$date | date:'yyyy-MM-dd @ h:mma' a}<br/>
                		<b>Settlements created:</b> {a workWithUser.user.settlements_created a}<br/>
                		<b>Survivors created:</b> {a workWithUser.user.survivors_created a}<br/>
                    </div>
                 </div>

    			<div
                    class="user_info_block" ng-if="workWithUser.user.subscriber.level > 0">
                    <i>{a world.meta.subscriptions[workWithUser.user.subscriber.level_handle].desc a}</i><br/>
			    	<b>Subscriber for:</b> {a workWithUser.user.subscriber.age a} <br/>
				    <b>Subscriber level:</b> {a workWithUser.user.subscriber.level a} <br/>
    				<b>Subscription set on:</b> {a workWithUser.user.subscriber.updated_on.$date |date:'yyyy-MM-dd' a} <br/>
	    		</div>

		    	<div class="kd worksheet_block">

                    <h3 class="kd title">Subscription</h3>

                    <div
                        class="clickable kd worksheet_row"
                        ng-class="{
                            'current_sub_level': workWithUser.user.subscriber.level == sub_level.level
                        }"
                        ng-repeat="sub_level in world.meta.subscriptions"
                        ng-click="
                            setSubscriptionLevel(workWithUser, sub_level);
                        "
                    >
                        <div
                            class="kd checkbox"
                            ng-class="{'checked': workWithUser.user.subscriber.level == sub_level.level}"
                        >
                        </div>

                        <div class="kd checkbox_desc">
                            {a sub_level.desc a}
                        </div>

                    </div> <!-- subscription level repeater worksheet_block-->

                </div>

                <div
                    class="kd worksheet_block"
                >
                    <h3 class="kd title">Info</h3>
                
                    This is a placeholder! We're going to add the ability to
                    view a user's settlements and event log stuff soon.

                </div><!-- worksheet block -->

                <center>
                    <button
                        class="clickable capsule kd yellow"
                        ng-click="closeWorkWithUser()"  
                    >
                    Close
                    </button>
                </center>

            </div> <!-- modal inner-->
        </div> <!-- modal outer -->

    </div> <!-- work with user -->


    <h3>User Agent Info</h3>
    <p
        ng-click="ngShowHide('user_agent_popularity_contest')"
        class="clickable tile"
    >
        Click/tap to show/hide the User Agent popularity contest.
    </p>
    <table id="user_agent_popularity_contest" class="hidden">
        <tr><th>UA String</th><th>&nbsp; # &nbsp; </th></tr>
        <tr ng-repeat="ua in users.user_agent_stats" ng-class-even="'zebra'">
            <td>{a ua.latest_user_agent a}:</td><td>{a ua.count a}</td>
        </tr>
    </table>


</div><!-- flex item basic -->
