{% extends 'blog/_main.html' %}

{% block content %}

<div
    class="dev_blog_content_block"
>
    <h1> - {{archive}} - </h1>
    <h2> Release Archive </h2>

    <div
        ng-if="apiData.releases.all === undefined"
        class="dev_blog_content_block_loader"
    >
       <img src="/static/media/images/loading_io.gif" />
    </div>

    <div
        class="dev_blog_release_link_corral"
        ng-if="apiData.releases.all.length > 0"
		ng-init="
            releaseType = 'all';
            scratch.platformFilter = '{{archive}}';
        "
    >
        {% include 'blog/release_button_repeater.html' %}
    </div> <!-- button corral -->


</div>

{% endblock %}
