<div
    class="dev_blog_title_splash"
>
    <h1>KDM-Manager</h1>
    <h2>Development Blog</H2>
</div>


<!-- 

    current, upcoming repeater block!

-->

<div
    class="dev_blog_content_block"
    ng-repeat="releaseType in ['current', 'upcoming']"
    ng-class-odd="'zebra'"
>
    <h3 class="font_medium kd capsule">{a releaseType a} releases!</h3>

    <!-- loader -->
    <div
        ng-if="apiData.releases[releaseType] === undefined"
        class="dev_blog_content_block_loader"
    >
        <img src="/static/media/images/loading_io.gif" />
    </div>

    <!-- none/null warning -->
    <div
        class="clickable font_medium"
        ng-if="
            apiData.releases[releaseType] &&
            apiData.releases[releaseType].length === 0
        "
    >
        <center ng-if="releaseType === 'current'">
            No published releases found!
        </center>
        <center ng-if="releaseType !== 'current'">
            No releases found!
        </center>
    </div>

    <!-- button corral -->
    <div
        class="dev_blog_release_link_corral"
        ng-if="apiData.releases[releaseType].length > 0"
    >

        {% include 'blog/release_button_repeater.html' %}

    </div> <!-- button corral -->

</div> <!-- releaseType repeater (outermost) -->


<!--

    ABOUT block

-->

<div
    class="dev_blog_content_block latest_releases zebra"
>
    <div
        class="dev_blog_about_block"
    >

        <h3>OS and browser support</h3>
        <p>
            In order to support the largest number of users,
            The Labor in Vain publishes and provisions the <b>KD:M API</b> and
            its related web applications as an OS- and hardware- agnostic,
            browser-accessible, open software platform.
        </p>
        <p>
            The platform is <i>optimized</i> for the OS and browser combination
            used most frequently by users, which is currently:
            <ul>
                <li>OS: Windows 10</li>
                <li>Browser: Microsoft Edge</li>
            </ul>
        </p>
        <p>
            The platform will never be published or provisioned as an OS-
            or platform-specific software package, e.g. iOS/Android native
            application.
        </p>

        <h3>Issues and enhancement requests</h3>
        <p>Platform development tracked on this blog is managed on GitHub!</p>
        <p>Report issues, request enhancements and get involved!</p>
        <ul>
            <li>
                <a href="https://github.com/theLaborInVain/kdm-manager">
                    KDM-Manager
                </a>
            </li>
            <li>
                <a href="https://github.com/theLaborInVain/kdm-manager-api">
                    The KDM API
                </a>
            </li>
        </ul>
    </div>
</div>


<div
    class="font_small dev_blog_content_block"
>

    <img
        class="dev_blog_logo"
        src="/static/media/images/the_labor_in_vain_logo-01.png"
        ng-click="loadUrl('https://thelaborinvain.com')"
    />

</div>
