body {background-color: #ddd;}
button {cursor: pointer;}
code {background-color: #eee; font-size: 1.1em; }


/* CSS reset */
h1 {font-size: 80px; font-family: 'Silverado'}
html {font-family: 'Ruda', sans-serif; font-size: 30px; }


/* generic table style */
table {border-collapse: collapse; width: 90%; margin: 1.5% auto;}
td {word-wrap: break-word; word-break: break-all;}
td.int_key {width: 10%; word-break: inherit;}

.subscribers_breakdown_table {width: auto; margin: 0 0 0 10px; border-collapse: collapse;}
.subscribers_breakdown_table td { }


/* basic containers - mobile */

.container { display: flex; position: absolute; top: 1%; left: 1%; right: 1%; background-color: #eee; padding: 0.5%; flex-wrap: wrap; align-items: flex-start; }
.flex_item_basic {background-color: #fff; padding: 1%; margin: 1%; width: 100%; }
.flex_item_basic h1, .flex_item_basic h2 {margin: 0; }
.tile {
    background: var(--material-design-yellow);
    padding: 3%; 
}
.initializing_screen {background: #eee; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; color: #666; justify-content: center; align-items: center; }
.initializing_screen img {width: min-content; }

#mainSpinner {
    bottom: 3%;
    position: fixed;
    right: 3%;
    z-index: 100;
}


.users_container {display: flex; flex-direction: column; }

/* flex box borders */
.api {border: 0.2em solid #DDFFDD; }
.users {border: 0.2em solid #FFDDDD; }
.world {border: 0.2em solid #DDDDFF; }


.world_item {margin: 0.5%; }
.world_item .world_key {font-weight: bold; display: inline-block; }
.world_item .world_value {display: inline-block; }
.world_item .world_tooltip {margin-left: 1%; }
.world_item .world_tooltip i {color: #666; }

.user_basic_info {width: auto; margin: 2%; display: inline-block; }
.user_basic_info h2 { font-size: 1em; margin: 0 auto; }
.active_user {background-color: #EEEEEE; border: 3px solid #9E9E9E; }
.inactive_user {background-color: #F5F5F5; }
.signed_out_user {background-color: #FAFAFA; }
.active_subscriber {background-color: #FFF59D; border: 3px solid #FFC107;}
.inactive_subscriber {background-color: #FFF9C4; }
.signed_out_subscriber {background-color: #FFFDE7; }
.user_detail { padding-left: 1%; padding-top: 1%; font-size: 0.9em; }
.user_detail_button_raft {margin: 0 auto; display: flex; margin: 1em; background: rgba(0,0,0,0.1); padding: 1em; justify-content: space-between; }
.log_detail { }
.log_line {padding: 1%; }


.recent_settlements_spinner {float: right; font-size: 7pt; text-align: center; }
.recent_settlements_spinner img {width: 30px; margin: 0 auto;}
.settlement {margin-top: 3%; }

table.killboard {margin-left: 1%;}

h3.settlement_name {font-weight: normal; margin-bottom: 0; }
button.toggle_settlement_event_log {float: right; }
.survivor_curse {background-color: #FFD740; background: #FFD740; }
.survivor_death {background-color: #F50057; background: #F50057; color: #fff}
.survivor_birth {background-color: #B2FF59; background: linear-gradient(#B2FF59, #d2fF59, #B2FF59)}
.survivor_join {background-color: #EEFF41; background: #EEFF41; }
.defeated_monster {color: #fff; background-color: #997030; background: #997030; }
.new_settlement {background-color: #1C7FC2; background: linear-gradient(to bottom, #1C7FC2, #137ABF); color: #fff; }
.add_location  {color: #fff; background: linear-gradient(to bottom, #73C26C, #51B952); }
.add_innovation {color: #fff; background: linear-gradient(#4EC7F1, #40ADD0); }
.sysadmin {color: #fff; background: #4A148C; font-weight: bold; }

.bg_spinner {float: right; }
.bg_spinner img {width: 50px; }

.warning {background-color: #FFFFCD;}
.error {background-color: #F4CECE; color: #c80000; }


/* Alerts! */
.webapp_alert {margin: 1%; }
.webapp_alert_title {display: block; width: 97%; margin: 0 auto; margin-top: 1%; font-weight: bold; padding: 1%; }
.webapp_alert_body {display: block; width: 97%; height: 100px; margin: 0 auto; margin-top: 1%; margin-bottom: 1%; padding: 1%;  }
.create_webapp_alert {margin: 0 auto; margin: 1%; background-color: #aaa; padding: 1%; }
.create_webapp_alert_control_block {margin: 1%; background-color: #eee; padding: 1%;  }
.create_webapp_alert button {width: 98%; margin: 0 auto; display: block; padding: 1%; font-weight: bold; margin-bottom: 1%; }
.red_button {background: linear-gradient(to bottom, #ff9a9a, #ff3434); border-radius: 5px; color: #fff; border: 1px solid #ff0d0d; }

.alert_footer {font-size: 75%; text-align:right; margin-top: 1%; }
.alert_controls {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; }
.alert_controls button {}

.text_input_container {width: 100%; display: flex; flex-direction: row; justify-content: space-around; padding: 1em; box-sizing: border-box; margin-top: 0.3em; background: #eee; margin: 1em auto; }
.text_input_input {width: 75%; }
.text_input_button {width: 15%; }

.error_text_block {background: #FFF0F0; color: #666; text-align: center; padding: 1em; font-size: 0.8em;}

.work_with_user_container {margin: 0.3em; border: 0.2em solid #000; }
.work_with_user_container h4 {text-align: center;}
.close_work_with_user {font-size: 2em; float: right; padding: 1%; font-weight: bold; color: #c00; padding-left: 2%; padding-right: 2%; }
.user_info_block {margin: 1em auto; margin-bottom: 0; margin-top: 0; padding: 1em; }
.user_info_block_header {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; }
.user_info_block_header img {height: max-content; }

.set_subscriber_toggle {width: auto; border: 0; padding: 0.3em; margin: 0.3em; margin-left: 1em;  cursor: pointer;}
.current_sub_level {background: #FFFcDc; }

.kd_check_box {border: 0.1em solid #000; background: #fff; transition: 1s; display: inline-block; width: 0.75vw; height: 1vh; margin-right: 1em; }
.kd_check_box.checked {background: #000; }


.api_response_times td {text-align: center; }
.api_response_times td.url {text-align: left; }


/*  releases */
.admin_panel_release_anchor_creator {
    width: 30%;
    float: right;
}
.admin_panel_release_worksheet_debug_clicker {
    border-right: 5vw solid #eee;
    border-top: 5vw solid transparent;
    float: right;
    margin-top: -6%;
    height: 0;
}
.admin_panel_release_title_version_number {
    border: 0;
    font-weight: bold;
    text-align: center;
    width: 2rem;
}
#editReleaseWorksheetSummary {
    border: 0;
    border-left: 2rem solid var(--color-grey);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
#editReleaseWorksheetSummary:focus {
    background: var(--material-design-yellow);
    outline: none;
}

.admin_panel_edit_release_toolbar {
    background: var(--color-grey);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}
.admin_panel_edit_release_toolbar_button {
    box-shadow: var(--boxshadow-default);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: 0.5s;
}
.admin_panel_edit_release_section_title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    font-weight: normal;
    justify-content: space-between;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.admin_panel_edit_release_item_bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;
}
.admin_panel_edit_release_item_buttons {
    align-items: center; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 10%;
}
.admin_panel_edit_release_item_buttons * {  /* the buttons */
    height: 100%; 
}
.admin_panel_edit_release_item_body {
    box-sizing: border-box;
    padding: 0.25rem;
    width: 90%;
}
.admin_panel_edit_release_item_body:focus,
    .admin_panel_edit_release_item_detail:focus {
    background-color: var(--material-design-yellow);
    outline: none;
}
.admin_panel_edit_release_item_detail_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 12%; 
    width: 100%;
}
.admin_panel_edit_release_item_detail {
    width:100%; 
}
.admin_panel_edit_release_item_bottom_raft {
    display: flex;
    justify-content: center;
}

/*  modal!  */
.modal_outer {
    background: rgba(0,0,0,0.9);
    bottom: 0;
    height: auto;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.modal_inner {
    background: #fff;
    margin: 0 auto;
    margin-top: 1%;
    padding: 1%;
    width: 90%;
}
.modal_button_raft {
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    width: auto;
}
.modal_button_raft button,
    .modal_button {
    border: var(--border-default);
    border-radius: 5vw;
    box-shadow: var(--boxshadow-default);
    font-family: 'Silverado';
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
    min-width: 25%;
    padding: 1rem;
    width: auto;
}
.modal_button.circle {
    align-items: center;
    border-radius: 100%;
    display: flex;
    font-size: 3.5rem;
    height: 3rem;
    justify-content: center;
    min-width: auto;
    padding: 0;
    width: 3rem;
}
.modal_button.circle div {
    margin-top: -0.5rem;
}
.modal_button_raft button:focus,
    .modal_button:focus {
    border: 0;
}

/* wide resolution */
@media only screen and (min-width: 1050px) and (orientation: landscape) {

    /* CSS reset */
    h1 {font-size: 5vw; }
    html {font-size: 12pt; }

    .flex_item_basic {flex-grow: 1; width: 30%; }
    .flex_item_double_wide {width: 100%; }

}
