:root {
    --border-default: 0.25rem solid;
    --box-shadow-default: 0 0 0.5em 0 #999;
    --box-shadow-material-design: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --color-blue: #00A0E9;
    --color-death-grey: #212121;
    --color-green: #32A54A;
    --color-grey: #f2f2f2;
    --color-pink: #F04D8C;
    --color-kd-pink-gradient: radial-gradient(#F06DbC, #DD5C9A);
    --color-red: #B92426;
    --color-yellow: #EEC051;
    --font-small: 0.6rem;
    --font-medium: 1rem;
    --font-large: 1.5rem;
    --material-design-yellow: #FFFDE7;
}

/*                                  */
/*  reusable style / generic style  */
/*                                  */

a {
    background: none;
    background-color: none;
    color: var(--color-blue);
    font-weight: bold; 
    text-decoration: none;
    transition: 1s;
}
a:hover {color: var(--color-pink); }
a:active {color: var(--color-red); }
a:visited {color: var(--color-yellow); }

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

/*  clickable styles */
.clickable {
    cursor: pointer;
    transition: 0.25s;
    outline: none;
}
.selectable {
    user-select: all;
}
button:active,
    .clickable:active {
    transform:translate(0.15vh, 0.15vh);
}
.clickable.alert {background-color: #ffEFEF;}

/*  style and layout shorthands/one-shots */
.capitalize {text-transform: capitalize;}
.hidden {display: none; }
.invert {transform: rotate(180deg);}
.right-align {text-align: right; }
.visible {display: inherit; }
.zebra {background-color: var(--color-grey) }

/* angularjs animations */
.ng_fade.ng-enter,
    .ng_fade_in.ng-enter {transition: 1s linear all; opacity:0;}
.ng_fade.ng-enter.ng-enter-active,
    .ng_fade_in.ng-enter-active { opacity:1;}
.ng_fadeout.ng-leave,
    .ng_fade.ng-leave {transition: 1s linear all;  opacity:1;}
.ng_fadeout.ng-leave.ng-leave-active,
    .ng_fade.ng-leave.ng-leave-active {opacity:0;}

/*  UI arrow */
.ui_arrow {
    display: inline-block;
    transition: 0.5s;
}


/*  modal!  */
.modal_outer {
    background: rgba(0,0,0,0.9);
    bottom: 0;
    height: auto;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.modal_inner {
    background: #fff;
    border-radius: 0.3rem;
    margin: 0.3rem;
    padding: 1rem;
    z-index: 1001;
}
.modal_button_raft {
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    width: auto;
}
.modal_button_raft button,
    .modal_button {
    border: var(--border-default);
    border-radius: 5vw;
    box-shadow: var(--boxshadow-default);
    font-family: 'Silverado';
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
    min-width: 20%;
    padding: 1rem;
    width: auto;
}
.modal_button.circle {
    align-items: center;
    border-radius: 100%;
    display: flex;
    font-size: 3.5rem;
    height: 3rem;
    justify-content: center;
    min-width: auto;
    padding: 0;
    width: 3rem;
}
.modal_button.circle div {
    margin: 0.4rem 0 1rem 0.1rem;
}
.modal_button_raft button:focus,
    .modal_button:focus {
    border: 0;
}


/* wide resolution */
@media only screen and (min-width: 1050px) and (orientation: landscape) {

    /* CSS reset */
    h1 {font-size: 5vw; }

    .modal_inner {
        margin: 1rem auto;
    }
    .modal_inner.slender_modal {
        max-width: 50rem;
    }


}
