@font-face {
    font-family: 'Silverado';
    src: url('/static/fonts/329BC2_0_0.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/329BC2_0_0.woff') format('woff'),
        url('/static/fonts/329BC2_0_0.woff2') format('woff2'),
        url('/static/fonts/329BC2_0_0.ttf') format('truetype');
}


html {
    font-family: 'Ruda';
}

.silverado {
    font-family: 'Silverado';
}
.ruda {
    font-family: 'Ruda';
}

.font_small {
    font-size: var(--font-small);
}
.font_medium {
    font-size: var(--font-medium);
}
.font_large {
    font-size: var(--font-large);
}
