/*                                  */
/*  the Kingdom Death style sheet!  */
/*                                  */


/*  

    fonts 

*/

@font-face {
    font-family: 'Silverado';
    src: url('/static/fonts/329BC2_0_0.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/329BC2_0_0.woff') format('woff'),
        url('/static/fonts/329BC2_0_0.woff2') format('woff2'),
        url('/static/fonts/329BC2_0_0.ttf') format('truetype');
}
.silverado {
    font-family: 'Silverado';
}
.silverado.number {
    letter-spacing: -0.1rem;
}

@font-face {
    font-family: 'kdm-font-10';
    src: url('/static/fonts/kdm-font-10.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kdm-font-10.ttf') format('truetype'),
        url('/static/fonts/kdm-font-10-webfont.woff') format('woff'),
        url('/static/fonts/kdm-font-10-webfont.woff2') format('woff2');
}
.kdm_font, .kdm_font_10 {font-family: 'kdm-font-10'; }

@font-face {
    font-family: 'kdm-font-2';
    src: url('/static/fonts/kdm-font-2.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kdm-font-2.ttf') format('truetype'),
        url('/static/fonts/kdm-font-2-webfont.woff') format('woff'),
        url('/static/fonts/kdm-font-2-webfont.woff2') format('woff2');
}
.kdm_font_2, .kdm_font_hit_locations {font-family: 'kdm-font-2'; }


/*

    CSS RESET - this is where we class elements specifically

*/

html.kd {
    font-family: 'Ruda', Arial;
}

html.kd h1,
    html.kd h2,
    html.kd h3,
    html.kd h4,
    html.kd h5,
    html.kd h6 {
    font-family: 'Raleway', Arial;
}

button.kd {
    border: 0; 
}

/*  kd CSS variables    */
.kd {
    --border-radius-card: 0.8rem;
    --border-radius-sheet: 0.5rem;
    --box-shadow-default: 0 0 0.5em 0 #999;
    --box-shadow-inset: inset 0.1em 0.1em 0.2em 0 #999;
    --border-checkbox: 0.1rem solid;
    --border-worksheet: 0.3rem solid;
    --color-kd-affinity-blue: #1C99CD;
    --color-kd-affinity-green: #4CB848;
    --color-kd-affinity-red: #CD2027;
    --color-kd-black: #111;
    --color-kd-black-gradient: linear-gradient(to right, #000, #333, #000);
    --color-kd-bleeding-token: radial-gradient(at right 50%, #f00, #992426);
    --color-kd-blue: #00A0E9;
    --color-kd-blue-gradient: radial-gradient(#60DAF5, #40AFD3);
    --color-kd-card-gradient: radial-gradient(#fff, #fff, #f8f8f8, #fffff9);
    --color-kd-green: #4CB848;
    --color-kd-green-gradient: radial-gradient(#0d0, #4CB848);
    --color-kd-death-grey: #212121;
    --color-kd-disorder-purple: #766DAC;
    --color-kd-fighting-art-red: #CD4438;
    --color-kd-green: #32A54A;
    --color-kd-grey: #f2f2f2;
    --color-kd-pink: #F35295;
    --color-kd-pink-gradient: radial-gradient(#F06DbC, #F35295);
    --color-kd-red: #B92426;
    --color-kd-red-gradient: (#DC2426, #B92426);
    --color-kd-silver-gradient: linear-gradient(to right, #eaebeb, #efefef, #fefefe, #efefef, #eaebeb);
    --color-kd-yellow: #EEC051;
    --color-kd-yellow-gradient: radial-gradient(#fEf0a1, #EEC051);
}


/*                      */
/*  worksheet styles    */
/*                      */
.kd.worksheet {
    
}
.kd.worksheet_block {
    border: var(--border-worksheet);
    box-sizing: border-box;
    height: fit-content;  
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    position: relative;
}
.kd.worksheet_block.disabled {
    pointer-events: none;
}
.kd.worksheet_block.disabled:before{
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    background: #fff;
    opacity: .7;
}
.kd.worksheet_block_title {
    font-family: 'Silverado';
    font-size: var(--font-large);
}
.kd.worksheet_row {
    align-items: baseline; 
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
}
.kd.worksheet_row.checkbox_container {
    flex-wrap: wrap; 
}
.kd.worksheet_row.checkbox_container * {
    margin: 0.1rem; 
}
.kd.worksheet_row.caption {
    display: block;
    font-size: var(--font-small);
}
.kd.checkbox {
    border: var(--border-checkbox);
    height: 0.5rem;
    min-height: 0.5rem;
    min-width: 0.5rem;
    width: 0.5rem;
}
.kd.checkbox.tiny {
    height: 0.25rem;
    min-height: 0.25rem;
    min-width: 0.25rem;
    width: 0.25rem;
}
.kd.checkbox.checked {
    background: #000;
    background-color: #000;
}
.kd.checkbox.red {
    border-color: var(--color-kd-red);
}
.kd.checkbox.red.checked {
    background: var(--color-kd-red);
    background-color: var(--color-kd-red);
}
.kd.checkbox_desc,
 .kd.checkbox_title {
    font-family: 'Ruda';
    margin-left: 0.5rem;
    transition: 1s;
}
.kd.checkbox_title {
    text-transform: capitalize;
}
.kd.worksheet_underline {
    border-bottom: 0.1rem solid;
    margin-left: 0.5rem;
    max-width: 7rem;
    width: 100%;
}

/*  the inline shield style */
.kd.inline_shield { 
    background: #000;
    border-radius: 0 0 0.2rem 0.2rem;
    color: #fff;
    display: inline-block; 
    position: relative;
    height: 0.6rem;
    width: 0.8rem;
}
.kd.inline_shield:after { 
    background: #000;
    border-left: 0.4rem solid; 
    border-top: 0.5rem solid transparent; 
    border-right: 0.4rem solid; 
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 80%; 
    width: 0;
}
.kd.inline_shield span { /* the number within it */
    position: absolute;
    margin-top: 0.05rem;
    text-align: center;
    width: 100%;
    z-index:10;
}

/*  card-style attributes tablel AI, vignette survivor, etc. */
.kd.attributes_table {
    align-items: flex-end;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), #ddd);
    border-radius: var(--border-radius-card);
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto 1rem auto;
    width: 90%;
}
.kd.attributes_table .cell,
.kd.attributes_table .large_cell {
    align-items: center; 
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25rem; 
}
.kd.attributes_table .cell {
    font-size: var(--font-medium);
    justify-content: center;
    height: fit-content;  
    width: 10%;
}
.kd.attributes_table .cell:nth-child(even){
    background: #ddd;
}
.kd.attributes_table .large_cell {
    font-size: var(--font-large);
    width: 20%; 
}
.kd.attributes_table .cell .title,
.kd.attributes_table .large_cell .title {
    font-size: var(--font-small);
    margin-top: 0.25rem; 
}

/*  the pink rulebook warning bubble    */
.kd.rulebook_warning:before {
    color: #F99BC0;
    content: "!";
    font-family: "Arial";
    font-size: 3rem;
    font-weight: bold;
    line-height: 0; 
    margin-right: 1rem; 
}
.kd.rulebook_warning {
    align-items: center;
    background: var(--color-kd-pink);
    background: var(--color-kd-pink-gradient);
    border-radius: 2rem;
    color: #ffffdd;
    display: flex;
    font-family: "Ruda";
    margin: 1rem auto 1rem auto;
    max-width: 50%;
    padding: 1rem;
    width: fit-content; 
}


/*  capsule styles! These are a main part of reusable UI    */

.kd.capsule,
    .capsule {
    align-self: center;
    background: #666;
    border: 0.2rem solid;
    border-radius: 5vw;
    box-shadow: var(--box-shadow-default);
    box-sizing: border-box;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: 50%;
}
.kd.capsule.full_width,
    .capsule.full_width {
    width: 100%;
    width: -webkit-fill-available;
}
button.kd.capsule {
    width: 100%; 
}
input.kd.capsule,
    button.kd.capsule {
    margin: 2rem 1rem 2rem 1rem; 
}
input.kd.capsule {
    background: #fff;
    background-color: #fff; 
    border: 0;
    box-shadow: var(--box-shadow-inset);
    color: #000;  
}
select.kd.capsule {
    padding: 0.5rem;
    text-align-last:center;
}


.kd.affinity_red {
    background: var(--color-kd-affinity-red);
    border-color: var(--color-kd-affinity-red);
    color: #fff;
}
.kd.affinity_blue {
    background: var(--color-kd-affinity-blue);
    border-color: var(--color-kd-affinity-blue);
    color: #fff;
}
.kd.affinity_green {
    background: var(--color-kd-affinity-green);
    border-color: var(--color-kd-affinity-green);
    color: #fff;
}
.kd.black {
    background: #000;
    background: var(--color-kd-black-gradient);
    color: #fff;
}
.kd.blue {
    background: var(--color-kd-blue);
    background: var(--color-kd-blue-gradient);
    color: #fff;
}
.kd.green {
    background: var(--color-kd-green);
    background: var(--color-kd-green-gradient);
    color: #fff;
}
.kd.pink {
    background: var(--color-kd-pink);
    background: var(--color-kd-pink-gradient);
    color: #ffffdd;
}
.kd.pink_text {
    color: var(--color-kd-pink);
}
.kd.red {
    background: var(--color-kd-red);
    background: var(--color-kd-red-gradient);
    color: #fff;
}
.kd.red_text {
    color: var(--color-kd-red);
}
.kd.yellow {
    background: var(--color-kd-yellow);
    background: var(--color-kd-yellow-gradient);
    color: #000;
}
.kd.yellow_text {
    color: var(--color-kd-yellow);
}
.kd.silver {
    background: var(--color-kd-silver-gradient);
    background-color: #EEE;
    color: #000;
}
.kd.white {
    background: #fafafa;
    background-color: #fafafa;
    color: #000;
}


.kd.title {
    font-family: 'Silverado';
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.kd.title:before {
    content: "- ";
}
.kd.title:after {
    content: " -";
}


/*                      */
/*  survivor cards      */
/*                      */

.kd.vignette_survivor_card {
    background: var(--color-kd-card-gradient);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-default);
    margin: 1rem auto 1rem auto;
    padding: 1rem 0 1rem 0;
    width:  20rem;
}
.kd.vignette_survivor_card .ly {
    align-items: center; 
    background: var(--color-kd-yellow);
    border-radius: 0 1.5rem 1.5rem 0;
    display: flex;
    font-size: var(--font-small);
    height: 2.2rem;
    padding: 0 0.5rem 0 1.5rem;
    position: absolute; 
}
.kd.vignette_survivor_card .title_bar {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    height: 2.5rem;
    width: 100%;
}
.kd.vignette_survivor_card .name {
    text-align: center; 
    width: 100%; 
}
.kd.vignette_survivor_card .name .subtitle {
    margin-top: 0; 
}
.kd.vignette_survivor_card .avatar_bar {
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-between; 
    min-height: 5rem;
    width: 100%;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions,
    .kd.vignette_survivor_card .avatar_bar .hit_locations {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    min-width: 15%;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions {
    margin: 0.25rem 0 0 1rem;
    opacity: 0.5;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions .survival_action{
    align-items: baseline; 
    display: flex;
    margin-bottom: 0.2rem;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions .survival_action .checkbox{
    margin-right: 0.25rem;
}
.kd.vignette_survivor_card .avatar_bar .avatar {
    margin-top: 1.5rem;
}
.kd.vignette_survivor_card .avatar_bar .avatar img {
    width: 9rem; 
}
.kd.vignette_survivor_card .avatar_bar .hit_locations {
    margin: 3rem 1rem 0 0;
    opacity: 0.7; 
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location {
    display: flex;
    justify-content: flex-end; 
    margin-top: 0.5rem;
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location.insanity {
    border-bottom: 0.1rem solid;
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location .inline_shield {
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-top: -0.1rem;  
}
