/*                                                  */
/*          The Kingdom Death style sheet!          */
/*      published by https://thelaborinvain.com     */
/*                                                  */


/*  

    fonts 

*/

@font-face {
    font-family: 'Silverado';
    src: url('/static/fonts/SilveradoRR-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/SilveradoRR-MediumCondensed.woff') format('woff'),
        url('/static/fonts/SilveradoRR-MediumCondensed.woff2') format('woff2'),
        url('/static/fonts/SilveradoRR-MediumCondensed.ttf') format('truetype');
}
.silverado {
    font-family: 'Silverado';
}
.silverado.number {
    letter-spacing: -0.1rem;
}

@font-face {
    font-family: 'kdm-manager';
    src: url('/static/fonts/kdm-manager.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kdm-manager.woff') format('woff'),
        url('/static/fonts/kdm-manager.woff2') format('woff2'),
        url('/static/fonts/kdm-manager.ttf') format('truetype');
}
.kdm_manager_font {
    font-family: 'kdm-manager';
}

@font-face {
    font-family: 'kd_icons';
    src: url('/static/fonts/kd_icons.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kd_icons.woff') format('woff'),
        url('/static/fonts/kd_icons.woff2') format('woff2'),
        url('/static/fonts/kd_icons.ttf') format('truetype');
}
.kd.icons {
    font-family: 'kd_icons';
}

@font-face {
    font-family: 'kdm-font-10';
    src: url('/static/fonts/kdm-font-10.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kdm-font-10.ttf') format('truetype'),
        url('/static/fonts/kdm-font-10-webfont.woff') format('woff'),
        url('/static/fonts/kdm-font-10-webfont.woff2') format('woff2');
}
.kdm_font, .kdm_font_10 {font-family: 'kdm-font-10'; }

@font-face {
    font-family: 'kdm-font-2';
    src: url('/static/fonts/kdm-font-2.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/kdm-font-2.ttf') format('truetype'),
        url('/static/fonts/kdm-font-2-webfont.woff') format('woff'),
        url('/static/fonts/kdm-font-2-webfont.woff2') format('woff2');
}
.kdm_font_2, .kdm_font_hit_locations {font-family: 'kdm-font-2'; }

.kd.icon.settlement_event {
    background-image:
        url('https://api.kdm-manager.com/static/media/images/settlement_event.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255,255,255,0);
}
.kd .deck_icon,
 .kd.deck_icon {    /* for when display requires the inline deck icon */
    background-image:
        url('https://api.kdm-manager.com/static/media/images/deck_icon.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255,255,255,0);
}
.kd .deck_icon:after,
 .kd.deck_icon:after {
    color: rgba(255,255,255);
    content: attr(deck);
    font-size: var(--font-small);
    margin: 0.2rem auto auto -0.75rem;
    position: absolute;
    text-align: center; 
}

/*

    CSS RESET - this is where we class elements specifically

*/

html.kd {
    font-family: 'Ruda', Arial;
}

html.kd h1,
    html.kd h2,
    html.kd h3,
    html.kd h4,
    html.kd h5,
    html.kd h6 {
    font-family: 'Raleway', Arial;
}

button.kd {
    border: 0; 
}

/* 3D Horizontal rule */
hr.three_dee {
    background: #000;
    border: 0;
    border-bottom: 1px solid;
    border-color: #bbb;
    box-sizing: border-box;
    height: 0.15rem;
    margin: 0.25rem 0 0.25rem 0;
}

/*  kd CSS variables    */
.kd {
    --border-radius-card: 0.8rem;
    --border-radius-sheet: 0.5rem;
    --box-shadow-default: 0 0 0.5em 0 #999;
    --box-shadow-inset: inset 0.1em 0.1em 0.2em 0 #999;
    --border-radius-gear-card-affinity: 0.2rem;
    --border-checkbox: 0.1rem solid;
    --border-checkbox-bold: 0.2rem solid;
    --border-worksheet: 0.3rem solid;
    --color-kd-affinity-blue: #1C99CD;
    --color-kd-affinity-green: #4CB848;
    --color-kd-affinity-red: #CD2027;
    --color-kd-black: #111;
    --color-kd-black-gradient: linear-gradient(to right, #000, #333, #000);
    --color-kd-bleeding-token: radial-gradient(at right 50%, #f00, #992426);
    --color-kd-blue: #00A0E9;
    --color-kd-blue-gradient: radial-gradient(#60DAF5, #40AFD3);
    --color-kd-brown: #997030;
    --color-kd-brown-gradient: linear-gradient(#997030, #a47a41, #997030);
    --color-kd-card-gradient: radial-gradient(#fff, #fff, #f8f8f8, #fffff9);
    --color-kd-resource-card-gradient: radial-gradient(#FBF7F7, #FBF7F7, #F4ECD2, #E7D09D);
    --color-kd-disorder-card-gradient: radial-gradient(circle at 50% 25%, #787273, #645E60, #393536, #2F2327, #000);
    --color-kd-green: #4CB848;
    --color-kd-green-gradient: radial-gradient(#0d0, #4CB848);
    --color-kd-death-grey: #313131;
    --color-kd-disorder-purple: #766DAC;
    --color-kd-fighting-art-red: #CD4438;
    --color-kd-fighting-art-red-gradient: linear-gradient(to bottom, #D14D3A, #CE483C, #D14D3A);
    --color-kd-green: #32A54A;
    --color-kd-grey: #f2f2f2;
    --color-kd-pink: #F35295;
    --color-kd-pink-gradient: radial-gradient(#F06DbC, #F35295);
    --color-kd-promo-gradient: radial-gradient(circle, #5Dd7F2, #50CAF5, #3FACCF);
    --color-kd-red: #B92426;
    --color-kd-red-gradient: linear-gradient(#DC2426, #B92426);
    --color-kd-silver-gradient: linear-gradient(to right, #eaebeb, #efefef, #fefefe, #efefef, #eaebeb);
    --color-kd-yellow: #EEC051;
    --color-kd-yellow-gradient: radial-gradient(#fEf0a1, #EEC051);
}


/*                      */
/*  worksheet styles    */
/*                      */
.kd.worksheet_block {
    border: var(--border-worksheet);
    box-sizing: border-box;
    height: fit-content;  
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
}
.kd.worksheet_block.flex {
    display: flex;
}
.kd.worksheet_block.lined > div:not(.worksheet_block_title, .worksheet_block_subtitle) {
    border-bottom: 0.1rem solid #CBCBCB;
    min-height: 3rem;
    padding-top: 0.5rem; 
}
.kd.worksheet_block.lined > div:last-child {
    border-bottom: none;
}
.kd.worksheet_block.borderless {
    border: 0; 
}
.kd.worksheet_block.disabled {
    position: relative; 
    pointer-events: none;
}
.kd.worksheet_block.disabled:before{
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    background: #fff;
    opacity: .7;
}
.kd.worksheet_page_title,
    .kd.worksheet_block_title {
    border: none;
    font-family: 'Silverado';
    font-size: 1.7rem;
    font-weight: normal;
    margin: 0 auto 0 auto;
}
.kd.worksheet_page_title {  /* for titles outside of boxes */
    margin: 0 auto 0 3%;
}


/*  different types of worksheet rows */

.kd.worksheet_row {
    align-items: baseline; /* keeps boxes aligned to text top */ 
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
}
.kd.worksheet_row.spaced {
    justify-content: space-between;
}
.kd.worksheet_row.lined {
    align-items: end;   /* text needs to lay "on" the line */
    border-bottom: 0.1rem solid #CBCBCB;
    min-height: 3rem;   /* since these are typically tappable/clickable */ 
}
.kd.worksheet_row.lined > div { /* only select direct children */
    margin: 0 0.5rem 0 0.5rem;
}
.kd.worksheet_row.lined.borderless {
    border-bottom: 0;
}
.kd.worksheet_row.justified > :last-child,
    .kd.worksheet_row.principle > :last-child,
    .kd.worksheet_row.lined.principle > :last-child {
    margin-left: auto; 
    max-width: 50%; 
    white-space: nowrap; 
}
.kd.worksheet_row.checkbox_container {
    flex-wrap: wrap; 
}
.kd.worksheet_row.checkbox_container * {
    margin: 0.1rem; 
}
.kd.worksheet_row.caption {
    display: block;
}


/* tile buttons */ 


/*  checkboxes */

.kd.checkbox {
    border: var(--border-checkbox);
    box-sizing: border-box;
    height: 0.8rem;
    margin: 0 0.5rem 0 0.5rem;
    min-height: 0.8rem;
    min-width: 0.8rem;
    width: 0.8rem;
}
.kd.checkbox:after {
    content: attr(caption-text);
    font-size: var(--font-small);
    margin: 1.2rem 0 0 -0.1rem;
    position: absolute;
    text-align: center; 
    width: inherit;
}
.kd.checkbox.dotted {
    background: #000;
    background-color: #000;
}
.kd.checkbox.dotted:after {
    color: #fff;
    content: "\25Cf";
    font-size: 0.75rem;
    margin: -0.21rem 0 0 -0.1rem;
    position: absolute;
}
.kd.checkbox.large {
    border: 0.125rem solid;
    height: 1.2rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
    width: 1.2rem;
}
.kd.checkbox.heavy {
    border: 0.2rem solid;
}
.kd.checkbox.tiny {
    height: 0.4rem;
    min-height: 0.4rem;
    min-width: 0.4rem;
    width: 0.4rem;
}
.kd.checkbox.checked {
    background: #000;
    background-color: #000;
}
.kd.checkbox.red {
    border-color: var(--color-kd-red);
    background: none;
}
.kd.checkbox.red.checked {
    background: var(--color-kd-red);
    background-color: var(--color-kd-red);
}
.kd.checkbox_desc,
 .kd.checkbox_title {
    font-family: 'Ruda';
    margin-left: 0.5rem;
    transition: 1s;
}
.kd.checkbox_desc.inset_checkbox_container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}
.kd.checkbox_title {
    text-transform: capitalize;
}
.kd.worksheet_underline {
    border-bottom: 0.1rem solid;
    margin-left: 0.5rem;
    max-width: 7rem;
    width: 100%;
}

/*  the inline shield style */
.kd.inline_shield { 
    background: #000;
    border-radius: 0 0 0.2rem 0.2rem;
    color: #fff;
    display: inline-block; 
    position: relative;
    height: 0.6rem;
    width: 0.8rem;
}
.kd.inline_shield:after { 
    background: #000;
    border-left: 0.4rem solid; 
    border-top: 0.5rem solid transparent; 
    border-right: 0.4rem solid; 
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 80%; 
    width: 0;
}
.kd.inline_shield span { /* the number within it */
    position: absolute;
    margin-top: 0.05rem;
    text-align: center;
    width: 100%;
    z-index:10;
}

/*  card-style attributes tablel AI, vignette survivor, etc. */
.kd.attributes_table {
    align-items: flex-end;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), #ddd);
    border-radius: var(--border-radius-card);
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto 1rem auto;
    width: 90%;
}
.kd.attributes_table .cell,
.kd.attributes_table .large_cell {
    align-items: center; 
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25rem; 
}
.kd.attributes_table .cell {
    font-size: var(--font-medium);
    justify-content: center;
    height: fit-content;  
    width: 10%;
}
.kd.attributes_table .cell:nth-child(even){
    background: #ddd;
}
.kd.attributes_table .large_cell {
    font-size: var(--font-large);
    width: 20%; 
}
.kd.attributes_table .cell .title,
.kd.attributes_table .large_cell .title {
    font-size: var(--font-small);
    margin-top: 0.25rem; 
}

/*  the pink rulebook warning bubble    */
.kd.rulebook_warning:before {
    color: #F99BC0;
    content: "!";
    font-family: "Arial";
    font-size: 3rem;
    font-weight: bold;
    line-height: 0; 
    margin-right: 1rem; 
}
.kd.rulebook_warning {
    align-items: center;
    background: var(--color-kd-pink);
    background: var(--color-kd-pink-gradient);
    border-radius: 2rem;
    color: #ffffdd;
    display: flex;
    font-family: "Ruda";
    margin: 1rem auto 1rem auto;
    max-width: 50%;
    padding: 1rem;
    width: fit-content; 
}
.kd.rulebook_warning.full_width {
    max-width: none;
}

/*  capsule styles! These are a main part of reusable UI    */

.kd.capsule,
    .capsule {
    align-self: center;
    background: #666;
    border: 0.2rem solid;
    border-radius: 5vw;
    box-shadow: var(--box-shadow-default);
    box-sizing: border-box;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: 50%;
}
.kd.capsule.full_width,
    .capsule.full_width {
    margin: 1rem;
    width: -webkit-fill-available;
}

.kd.capsule:disabled {
    color: #aaa;
}



button.kd.capsule {
    width: 100%; 
}
input.kd.capsule,
    button.kd.capsule {
    margin: 1rem; 
}
input.kd.capsule {
    background: #fff;
    background-color: #fff; 
    border: 0;
    box-shadow: var(--box-shadow-inset);
    color: #000;  
}
select.kd.capsule {
    padding: 0.5rem;
    text-align-last:center;
}

/*  KD title */
.kd.super_title_logo {
    margin: 1rem auto -0.5rem auto;
    width: 4rem;
}
.kd.title {
    font-family: 'Silverado';
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.kd.title:before {
    content: "- ";
}
.kd.title:after {
    content: " -";
}


.kd.affinity_red {
    background: var(--color-kd-affinity-red);
    border-color: var(--color-kd-affinity-red);
    color: #fff;
}
.kd.affinity_blue {
    background: var(--color-kd-affinity-blue);
    border-color: var(--color-kd-affinity-blue);
    color: #fff;
}
.kd.affinity_green {
    background: var(--color-kd-affinity-green);
    border-color: var(--color-kd-affinity-green);
    color: #fff;
}
.kd.black {
    background: #000;
    background: var(--color-kd-black-gradient);
    color: #fff;
}
.kd.blue {
    background: var(--color-kd-blue);
    background: var(--color-kd-blue-gradient);
    color: #fff;
}
.kd.brown {
    background: var(--color-kd-brown);
    background: var(--color-kd-brown-gradient);
    color: #fff;
}
.kd.death_grey_text {
    color: #616161;
}
.kd.disorder_gradient {
    background: #000;
    background: var(--color-kd-death-grey);
    color: #fff;
}
.kd.disorder_purple,
    .kd.disorders_purple {
    background: var(--color-kd-disorder-purple);
    color: #fff;
}
.kd.fighting_art_red,
    .kd.fighting_arts_red {
    background: var(--color-kd-fighting-art-red);
    background: var(--color-kd-fighting-art-red-gradient);
    color: #fff;
}
.kd.green {
    background: var(--color-kd-green);
    background: var(--color-kd-green-gradient);
    color: #fff;
}
.kd.green_text {
    color: var(--color-kd-green);
}
.kd.pink {
    background: var(--color-kd-pink);
    background: var(--color-kd-pink-gradient);
    color: #ffffdd;
}
.kd.pink_text {
    color: var(--color-kd-pink);
}
.kd.promo {
    color: #fff;
    background: var(--color-kd-promo-gradient);
}
.kd.red {
    background: var(--color-kd-red);
    background: var(--color-kd-red-gradient);
    color: #fff;
}
.kd.red_text {
    color: var(--color-kd-red);
}
.kd.yellow {
    background: var(--color-kd-yellow);
    background: var(--color-kd-yellow-gradient);
    color: #000;
}
.kd.yellow_border {
    border-color: var(--color-kd-yellow);
}
.kd.yellow_text {
    color: var(--color-kd-yellow);
}
.kd.silver {
    background: var(--color-kd-silver-gradient);
    background-color: #EEE;
    color: #000;
}
.kd.white {
    background: #fafafa;
    background-color: #fafafa;
    color: #000;
}


/*                      */
/*  cards               */
/*                      */

.kd.card {
    color: #111;
}

.kd.card.container {
    background: #fff;
    background: var(--color-kd-card-gradient);
    border-radius: var(--border-radius-card);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-default);
    display: flex;
    margin: auto;
    min-height: 3in;
}

.kd.card.container.bridge {
    width: 3in;
}

.kd.card.face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
.kd.card.face.header,
    .kd.card.face.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.kd.card.face.footer {
    flex-direction: column;
    font-size: 0.8rem;
    width: 100%;
}

.kd.card.title_bar { /* for any title region with keywords, etc. */
    display: flex;
    flex-direction: column; 
    margin: 1.5rem;
    width: 100%; 
}
.kd.card.title_bar div:first-child { /*  title goes first in a title bar */
    font-family: 'silverado';
    text-align: center;
    width: 100%;
}
.kd.card.title_bar div:last-child { /*  keywords go last in a title bar */
    font-size: 0.8rem;
    margin: 0 0.75rem 0 0.75rem;
    text-align: center; 
}


.kd.card.body {
    margin: 0 auto 1rem auto;
    min-height: 10rem;
    text-align: center;
    width: 90%;
}

.kd.card.face.footer div {
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}

/*  expansion flair/bookmark thing ; absolute position */
.kd.card.expansion_flair {
    align-items: flex-end;
    border: 0.2rem solid;
    border-radius: 0 0 5rem 5rem;
    border-top: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Silverado';
    font-weight: bold; 
    height: 5rem;
    justify-content: center;
    margin-left: 1rem; 
    padding-bottom: 0.75rem;
    width: 3rem;
}



/*  disorders   */
.kd.card.disorder.container {
    background: #000;
    background: var(--color-kd-disorder-card-gradient);
}
.kd.card.disorder.title:before,
    .kd.card.disorder.title:after {
    content: "";
}
.kd.card.disorder.title {
    color: #fff;
    font-family: 'Silverado';
    font-size: var(--font-large);
    margin-bottom: 2rem;
    text-transform: none;
    width: 100%; 
}
.kd.card.disorder.flavor_text,
    .kd.card.disorder.survivor_effect {
    color: #fff;
    margin: 0 auto 0.5rem auto;
    text-align: center;
    width: 90%;
}
.kd.card.disorder.flavor_text {
    font-style: italic;
}
.kd.card.disorder.survivor_effect {
    min-height: 10rem;
}

/*  fighting_arts   */
.kd.card.fighting_art.container {
    background: var(--color-kd-card-gradient);
    min-height: 3.5in;
    width: 3in;
}
.kd.card.fighting_art.title:before,
    .kd.card.fighting_art.title:after {
    content: "";
}
.kd.card.fighting_art.title {
    font-family: 'Silverado';
    font-size: var(--font-large);
    text-transform: none;
    width: 100%; 
}
.kd.card.fighting_art.subtitle {
    font-size: var(--font-medium);
    text-transform: lowercase;
}
.kd.card.fighting_art.subtitle:before,
    .kd.card.fighting_art.subtitle:after {
    content: " - ";
}
.kd.card.fighting_art.gradient_span {
    height: 1.5rem;
    border: 0;
    margin: 0 0 1rem 0;
}
.kd.card.fighting_art.level_container:last-child {
    margin-bottom: 2rem;
}
.kd.card.fighting_art.level_number {
    align-items: center;
    background: var(--color-kd-death-grey);
    background-color: var(--color-kd-death-grey);
    border-radius: 50%;
    color: #fff;
    display: flex; flex: 0 0 2rem;
    height: 2rem;
    justify-content: center;
    margin: 0 1rem 0 0.5rem;
    text-align:center;
}
.kd.card.fighting_art.level_desc {
    margin: 0 0.5rem 0 0;
}
.kd.card.fighting_art.strain_threshold_container {
    box-sizing: border-box;
    border-bottom-right-radius: var(--border-radius-card);
    border-bottom-left-radius: var(--border-radius-card);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem auto 0 auto;
    padding: 3%;
    width: 100%;
}
.kd.card.fighting_art.strain_threshold_blocks_container {
    margin-bottom: 0;
    margin-top: -6.5%;
    text-align: center;
    width: 100%;
}
.kd.card.fighting_art.strain_threshold_blocks_container span {
    margin-right: 1.5vw;
}
.strain_block {
    background: #fff;
    border-color: #5Dd7F2;
    border: 0.1em solid #5Dd7F2;
    display: inline-block;
    height: 0.75rem;
    margin-bottom: -0.3vh;
    width: 0.75rem;
}
.kd.card.fighting_art.strain_threshold_desc {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
}


/*  gear cards - CSS grid */
.kd.card.gear.container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1.2rem auto 1.2rem;
    grid-template-rows: 1.2rem auto 1.2rem;
    width: 3in;
}

/* inner and outer affinity square */
.kd.card.gear.bleed.affinity.outer,
    .kd.card.gear.bleed.affinity.inner {
    margin: 0 auto; 
}

/* outer affinity square */
.kd.card.gear.bleed.affinity.outer.top,
    .kd.card.gear.bleed.affinity.outer.bottom {
    height: 1rem;
    width: 2.5rem;
}
.kd.card.gear.bleed.affinity.outer.left,
    .kd.card.gear.bleed.affinity.outer.right {
    height: 2.5rem;
    margin-bottom: auto;
    margin-top: auto;
    width: 1rem;
}
.kd.card.gear.bleed.affinity.outer.top {
    border-radius: 0 0 var(--border-radius-gear-card-affinity) var(--border-radius-gear-card-affinity);
    padding: 0 0.25rem 0.25rem 0.25rem;
}
.kd.card.gear.bleed.affinity.outer.right {
    border-radius: var(--border-radius-gear-card-affinity) 0 0 var(--border-radius-gear-card-affinity);
    padding: 0.25rem 0 0.25rem 0.25rem;
}
.kd.card.gear.bleed.affinity.outer.bottom {
    border-radius: var(--border-radius-gear-card-affinity) var(--border-radius-gear-card-affinity) 0 0;
    padding: 0.25rem 0.25rem 0 0.25rem;
}
.kd.card.gear.bleed.affinity.outer.left {
    border-radius: 0 var(--border-radius-gear-card-affinity) var(--border-radius-gear-card-affinity) 0;
    padding: 0.25rem 0.25rem 0.25rem 0;
}

/* inner affinity square */
.kd.card.gear.bleed.affinity.inner {
    border: 0.1rem solid #fff;
    border-radius: inherit;
    box-sizing: border-box; 
    height: 100%;
}
.kd.card.gear.bleed.affinity.inner.top {
    border-top: 0;
}
.kd.card.gear.bleed.affinity.inner.right {
    border-right: 0;
}
.kd.card.gear.bleed.affinity.inner.bottom {
    border-bottom: 0;
}
.kd.card.gear.bleed.affinity.inner.left {
    border-left: 0;
}

/* left and right affinity bleed */
/*  paired carve-outs */
.kd.card.gear.bleed.affinity.outer.affinity_paired {
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    height:0;
    padding: 0;
    width:0;
}
.kd.card.gear.bleed.affinity.outer.left.affinity_paired {
    border-right: 1rem solid;
}
.kd.card.gear.bleed.affinity.outer.right.affinity_paired {
    border-left: 1rem solid;
}
.kd.card.gear.bleed.affinity.outer.bottom.affinity_paired {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid;
}

/* gear card face - top and bottom half */
.kd.card.gear.title_bar { /* remove the margin from the name/title */
    margin: 0 auto; 
}
.kd.card.gear.title_bar div {
    text-align: center; 
}
.kd.card.gear.title_bar .gear_title {
    font-size: var(--font-large);
}
.kd.card.gear.title_gutter {
    display:flex;
    justify-content: center;
    width: 3rem;
}
.gear_card_pattern_stamp::after {
    content: 'p';
    display: block;
    font-family: 'kdm-manager';
    font-size: var(--font-large);
    margin: -0.2rem -1rem 0 0;
}

/*  gear card armor/attack stats */
.kd.card.gear.armor_stats,
    .kd.card.gear.weapon_stats {
    font-family: 'Arial';
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: -0.1rem;
}
.kd.card.gear.armor_stats {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 3rem;
}
.kd.card.gear.shield {
    background: #222;
    background-color: #222;
    border-radius: 0.1rem;
    color: #fff;
    display: inline-block;
    font-family: 'Silverado';
    font-size: 1.5rem;
    height: 1.4rem;
    margin: 0 -0.1rem 1rem 0;
    padding-top: 0.1rem;
    text-align: center;
    width: 1.6rem;
}
.kd.card.gear.shield:after {
    border-left: 0.8rem solid transparent;
    border-top: 0.8rem solid #222;
    border-right: 0.8rem solid transparent;
    content: "";
    display: block;
    height: 0;
    margin: -0.4rem 0.1rem 0.1rem auto;
    width: 0;
}
.kd.card.gear.location_glyph {
    color: #222;
    font-family: 'kdm-font-2';
    font-size: 1.25rem;
    max-width: 1.3rem;
}

/*  gear - weapons */
.gear_card_combat_stat_activation,
    .gear_card_combat_stat_footnote {
    display: flex;
    flex-wrap: nowrap;
    padding: 4%;
    width: 1.5rem;
}
.gear_card_combat_stat_activation {
    border-radius: 5vw;
    flex-direction: column;
    text-align: center;
}
.gear_card_combat_stat_activation.with_footnote {
    box-shadow: 0 2rem #000;
}
.kd.gear.card.activation_icon {
    display: flex;
    justify-content: center;
    margin: 0.3rem 0 0 0;
}
.kd.card.gear.activation_icon::before {
    background: #fff;
    background: linear-gradient(to right, rgba(0,0,0,0), #fff, #fff, #fff, rgba(0,0,0,0));
    content: 'A';
    display: block;
    border-radius:100%;
    font-family: 'kdm-manager';
    font-size: 1rem;
    line-height: 0.9rem;
}
.gear_card_combat_stat_activation_detail {
    border: 0;
    border-radius: inherit;
    margin: 0.1rem auto 0.2rem auto;
    overflow: visible;
}
.gear_card_combat_stat_activation_detail hr {
    border: 0;
    height: 0.1rem;
    margin: 0 0 0.25rem 0;
}
.gear_card_accuracy_detail {
    align-items: baseline;
    display: flex;
    justify-content: center;
    width: 150%;
}
.gear_card_accuracy_detail::after {
    content: "+";
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    line-height: 1.5;
    margin-bottom: -1rem;
}

/*  gear weapon footnote    */
.gear_card_combat_stat_footnote { /* stat column piece */
    border-radius: 0 0 10rem 10rem;
    justify-content: center;
    margin-top: 0.25rem;
}

.card.gear.footnote {               /* below the card */
    background: #fff;
    border: 0.2rem solid;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
    width: 85%;
}
.gear_card_footnote_character {
    align-items: flex-end;
    border-radius: 0 0 10vw 10vw;
    display: flex;
    font-family: 'Arial';
    font-size: 1.25rem;
    justify-content: center;
    margin: -1px 0 1rem 0;
    padding: 4%;
    width: 1rem;
}
.gear_card_footnote_description {
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 65%;
}


/* gear card face - bottom */
.kd.card.gear.add_affinity_container {
    display: flex;
}
.kd.card.gear.face.footer .kd.card.gear.add_affinity {
    align-items: center;
    border-radius: var(--border-radius-gear-card-affinity);
    display: flex;
    margin: 1rem auto;
    height: 3rem;
    justify-content: center; 
    width: 3rem;
}
.kd.card.gear.add_affinity div {
    border: 0.15rem solid #fff;
    height: 75%;
    margin: 0;
    width: 75%;
}
.kd.card.gear.face.footer .kd.card.gear.desc {
    margin: 0; 
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus {
    background: #fff;
    border: 0.15rem solid #fff;
    border-radius: var(--border-radius-card);
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0; 
    width: 100%;
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus_requirements {
    margin: 0; 
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus_requirements.horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0.25rem; 
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus_requirements.horizontal * {
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus_desc {
    background: #D8E2E4;
    box-sizing: border-box; 
    margin: 0;
    padding: 0.25rem;
    width: 100%; 
}
.kd.card.gear.face.footer .kd.card.gear.affinity_bonus_desc.horizontal {
    text-align: left;  
}
.kd.card.gear.affinity_bonus_desc.horizontal {
    border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0;
}
.kd.card.gear.affinity_bonus_desc.vertical {
    border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}
.kd.card.gear.affinity_bonus.vertical {
    flex-direction: column;
}

/*  resource cards  */
.kd.card.resource.container {
    background: var(--color-kd-resource-card-gradient);
    max-width: 2.5in;
    padding-bottom: 1rem; 
}
.kd.card.resource.title_bar.expansion {
    margin: 1.25rem 0 0 0.5rem;
}
.kd.card.resource.title_bar.expansion div {
    text-align: left;
    width: 100%; 
}
.kd.card.resource.text.flavor_text {
    font-style: italic;
}



/*  vignette survivor cards */

.kd.vignette_survivor_card {
    background: var(--color-kd-card-gradient);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-default);
    margin: 1rem auto 1rem auto;
    padding: 1rem 0 1rem 0;
    width:  20rem;
}
.kd.vignette_survivor_card .ly {
    align-items: center; 
    background: var(--color-kd-yellow);
    border-radius: 0 1.5rem 1.5rem 0;
    display: flex;
    font-size: var(--font-small);
    height: 2.2rem;
    padding: 0 0.5rem 0 1.5rem;
    position: absolute; 
}
.kd.vignette_survivor_card .title_bar {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    height: 2.5rem;
    width: 100%;
}
.kd.vignette_survivor_card .name {
    text-align: center; 
    width: 100%; 
}
.kd.vignette_survivor_card .name .subtitle {
    margin-top: 0; 
}
.kd.vignette_survivor_card .avatar_bar {
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-between; 
    min-height: 5rem;
    width: 100%;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions,
    .kd.vignette_survivor_card .avatar_bar .hit_locations {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    min-width: 15%;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions {
    margin: 0.25rem 0 0 1rem;
    opacity: 0.5;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions .survival_action{
    align-items: baseline; 
    display: flex;
    margin-bottom: 0.2rem;
}
.kd.vignette_survivor_card .avatar_bar .survival_actions .survival_action .checkbox{
    margin-right: 0.25rem;
}
.kd.vignette_survivor_card .avatar_bar .avatar {
    margin-top: 1.5rem;
}
.kd.vignette_survivor_card .avatar_bar .avatar img {
    width: 9rem; 
}
.kd.vignette_survivor_card .avatar_bar .hit_locations {
    margin: 3rem 1rem 0 0;
    opacity: 0.7; 
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location {
    display: flex;
    justify-content: flex-end; 
    margin-top: 0.5rem;
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location.insanity {
    border-bottom: 0.1rem solid;
}
.kd.vignette_survivor_card .avatar_bar .hit_locations .hit_location .inline_shield {
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-top: -0.1rem;  
}


/* bleeding token */
.kd.bleeding_token {
    border: 0.2rem solid;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    height: 2rem;
    transform: rotate(-45deg);
    transition: 0.5s;
    width: 2rem;
}
.kd.bleeding_token.active {
    border-color: #fff;
    box-shadow: var(--box-shadow-default);
    background: var(--color-kd-special-showdown);
    background: var(--color-kd-bleeding-token);
}
