<b>Hello $login!</b><br/><br/>
&ensp;You are receiving this message because <a href="$netloc">$netloc</a>
was asked to send you an email to verify your email address, $login, with the
<i>Kingdom Death: Monster API</i>.<br/><br/>
&ensp;If you did not make this request, please ignore this email.<br/><br/>
&ensp;If you made this request and would like to verify your email, please 
click this link (or visit:<br/><br/>
&ensp;<a href="$apiloc/verify_email_address?login=$login&verification_code=$verification_code">
    $apiloc/verify_email_address?login=$login&verification_code=$verification_code
    </a>
<br/>
<br/><br/>Your friend,<br/>The KDM API<br/><br/><br/>
